/* coding for the landing page start here*/
.landing-page{
    background-color:rgb(9, 10, 47) !important;
    display:none;
}
.welcome-caption{
    margin-top:-90px;
}
.multimedia-caption,.button-wrapper-one{
    margin-left:-700px;
    margin-top:0px;
}
.services-wrapper,.button-wrapper-two{
    margin-right:-1700px;
    margin-top:0px;
}
.services-li{
    list-style:none;
}
/* coding for the landing page ended here*/

/* portfolio section coding start here*/
    .portfolio-wrapper{
       margin-left:-600px;
       margin-top:-320px !important;
    }
/* portfolio section coding ended here*/